position: relative;
width: 1280px;
height: 720px;

.left_align{
    display : flex;
    align-items : center;
}

.carousel-item > img {
    height : 50vh;
}

nav{
    z-index : 10;
}

.skill-list{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.sort-senter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    border-top: 1px solid #ddd;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}


.f-60{
    font-size: 60px;
    color:rgb(9, 10, 9);

}

.f-40{
    font-size: 40px;
    color: rgb(4, 4, 63);
}

.f-30{
    font-size: 30px;
    color:rgb(9, 10, 9);
}

.f-20{
    font-size: 20px;
    color:rgb(9, 10, 9);
}

.carousel-control-next-icon {
        background-color: black; /* 기본적으로 배경색을 지정해 보이도록 합니다 */
        width: 50px; /* 크기 조정 */
        height: 50px; /* 크기 조정 */
    }

.bgr_b{
    background-color: rgb(4, 6, 41);
    color: blanchedalmond;
}

.first_order{
    order  : 1;
}

.second_order{
    order  : 2;
}

.square{
   aspect-ratio: 1 / 1;
   padding: 20px;
}