<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>profrog's portpolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href ="./main.css" rel = "stylesheet">
    <script src ="./main.js"></script>
</head>
<body>
<!-- header -->
<nav class="px-5 navbar navbar-expand navbar-dark bg-dark position-fixed w-100">
    <a class="navbar-brand" href="#">chessx2</a>
    <ul class="navbar-nav ms-auto" style = "margin-left: auto;">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Main</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/ptg">pgntogif</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
        </li>

    </ul>
</nav>

<header>
    <secton id ="support" class ="pt-5">
        <div class = "d-flex">
            <div class="card square mb-3 mt-5 text-center">
                <div class="h1 bgr_b text-white text-center w-100 d_block mx-auto">SUPPORT</div>
                <img src="./images/chesschess.png" class="card-img-top square mb-3 mt-5 w-50 d_block mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-title f-40">support : chess chess </h5>
                    <p class="card-text mt-3 mb-3"><a href = "https://blog.naver.com/ache159/222791886907" class = "f-30 mt-3 mb-3"> 체스체스 소개 </a> </p>
                </div>
            </div>

            <div class="card square mb-3 mt-5 text-center">
                <div class="h1 bgr_b text-white text-center w-100 d_block mx-auto">DEVELOP</div>
                <img src="./images/profile.jpg" class="card-img-top square mb-3 mt-5 w-50 d_block mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-title f-40">developer : profrog </p>
                    <p class="card-text mt-3 mb-3"><a href = "https://open.kakao.com/me/pf0224" class = "f-30 mt-3 mb-3">카카오톡 문의</a> </p>
                    <p class="card-text mt-3 mb-3"><a href = "https://blog.naver.com/ache159/222791886907" class = "f-30 mt-3 mb-3">블로그 소개 </a> </p>
                </div>
            </div>
        </div>
    </secton>
</header>

<!-- main -->
<!-- footer -->

<!-- lorem100 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>