<!doctype html>
<html lang="en">
<head>
    <title>pgn to gif</title>
    <meta name="google-site-verification" content="Qe0NgXMLaNO5Mx0_VZC81m1bjz5GqumhACxfBqwwlXg" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pgnstudio,It will help making gif from chess pgn data,체스 pgn data로 gif 만들기">
    <meta name="keywords" content="pgntogif,chess pgn,chess.com,lichess.org,chess,gif,chess game">
    <meta property="og:image" content="./images/chesschess.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href ="/css/main.css" rel = "stylesheet">
    <script src ="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 메뉴바 구현 -->
<nav class="px-5 navbar navbar-expand navbar-dark bg-dark position-fixed w-100">
    <a class="navbar-brand p" href="/">Pgn Studio</a>
    <ul class="navbar-nav ms-auto" style = "margin-left: auto;">
<!--        메인 메뉴로 이동-->
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Main</a>
        </li>

<!--        gif 생성기로 이동-->
        <li class="nav-item">
            <a class="nav-link" href="/ptg">pgntogif</a>
        </li>

<!--        about으로 이동-->
        <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
        </li>

    </ul>
</nav>
<section id = "main-part" class ="pt-5 pt-5">
    <div class="container my-4" >
        <a href="https://blog.naver.com/ache159/223591252625" class = "f-15 mt-3 mb-3"> Pgn Studio <br> 사용자 가이드 링크(USER GUIDE)</a>
        <h1 class="text-center mb-4">Pgn Studio : pgn to gif(pgn데이터로 나만의 gif를 만들자)</h1>
        <div class = "d-flex justify-content-center">
            <img id="gif_sample" src="./images/sample/0.gif" class="square mb-3 mt-3 ml-3 mr-3" alt="Slide 1">
        </div>
    </div>
</section>


<!-- 스킨 선택창 -->
<div class="container my-4" >
    <h1 class="text-center mb-4">STEP1. GIF를 생성하고 싶은 기물 스킨 세트를 고르세요</h1>
    <h2 class="text-center mb-4">STEP1. Select piece skin for making GIF</h2>
    <div class="row" id = "selectpiece">
        <!-- main.js에서 리스트 자동으로 추가 -->
        <!-- Additional gallery items go here -->
    </div>

    <div class="container my-4">
        <div class="row gallery" id="user_gallery">
            <!-- Images will be loaded here by JavaScript -->
        </div>
    </div>
</div>

</body>
</html>