<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="./images/chesschess.png">
    <title>Pgn Studio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href ="/css/main.css" rel = "stylesheet">
    <script src ="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 메뉴바 구현 -->
<nav class="px-5 navbar navbar-expand navbar-dark bg-dark position-fixed w-100">
    <a class="navbar-brand p" href="/">Pgn Studio</a>
    <ul class="navbar-nav ms-auto" style = "margin-left: auto;">
<!--        메인 메뉴로 이동-->
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Main</a>
        </li>

<!--        gif 생성기로 이동-->
        <li class="nav-item">
            <a class="nav-link" href="/ptg">pgntogif</a>
        </li>

<!--        about으로 이동-->
        <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
        </li>

    </ul>
</nav>
<section id = "main-part" class ="pt-5 pt-5">
    <div class="container my-4" >
        <a href="https://blog.naver.com/ache159/223591252625" class = "f-15 mt-3 mb-3"> Pgn Studio <br> 사용자 가이드 링크(USER GUIDE)</a>
        <h1 class="text-center mb-4">Pgn Studio : Pgn으로 나만의 Gif를 만들자</h1>
        <div class = "d-flex justify-content-center">
            <img id="gif_sample" src="./images/sample/1.gif" class="square mb-3 mt-3 ml-3 mr-3" alt="Slide 1">
        </div>
    </div>
</section>


<!-- 스킨 선택창 -->
<div class="container my-4" >
    <h1 class="text-center mb-4">STEP1. GIF를 생성하고 싶은 기물 스킨 세트를 고르세요</h1>
    <h2 class="text-center mb-4">STEP1. Select piece skin for making GIF</h2>
    <div class="row" id = "selectpiece">
        <div class="col-md-4 mb-4" id="card1">
            <img src="./images/sample/1.gif" class="card-img-top" alt="skin1" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card2">
            <img src="./images/sample/2.gif" class="card-img-top" alt="skin2" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card3">
            <img src="./images/sample/3.gif" class="card-img-top" alt="skin3" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card4">
            <img src="./images/sample/4.gif" class="card-img-top" alt="skin4" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card5">
            <img src="./images/sample/5.gif" class="card-img-top" alt="skin5" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card6">
            <img src="./images/sample/6.gif" class="card-img-top" alt="skin6" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card7">
            <img src="./images/sample/7.gif" class="card-img-top" alt="skin7" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card8">
            <img src="./images/sample/8.gif" class="card-img-top" alt="skin8" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card9" >
            <img src="./images/sample/9.gif" class="card-img-top" alt="skin9" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card10">
            <img src="./images/sample/10.gif" class="card-img-top" alt="skin10" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card11">
            <img src="./images/sample/11.gif" class="card-img-top" alt="skin11" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card12">
            <img src="./images/sample/12.gif" class="card-img-top" alt="skin12" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card13">
            <img src="./images/sample/13.gif" class="card-img-top" alt="skin13" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card14">
            <img src="./images/sample/14.gif" class="card-img-top" alt="skin14" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card15">
            <img src="./images/sample/15.gif" class="card-img-top" alt="skin15" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card16">
            <img src="./images/sample/16.gif" class="card-img-top" alt="skin16" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card17" >
            <img src="./images/sample/17.gif" class="card-img-top" alt="skin17" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card18" >
            <img src="./images/sample/18.gif" class="card-img-top" alt="skin18" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card19" >
            <img src="./images/sample/19.gif" class="card-img-top" alt="skin19" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card20" >
            <img src="./images/sample/20.gif" class="card-img-top" alt="skin20" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card21">
            <img src="./images/sample/21.gif" class="card-img-top" alt="skin21" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card22">
            <img src="./images/sample/22.gif" class="card-img-top" alt="skin22" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card23">
            <img src="./images/sample/23.gif" class="card-img-top" alt="skin23" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card24" >
            <img src="./images/sample/24.gif" class="card-img-top" alt="skin24" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card25">
            <img src="./images/sample/25.gif" class="card-img-top" alt="skin25" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card26" >
            <img src="./images/sample/26.gif" class="card-img-top" alt="skin26" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card27" >
            <img src="./images/sample/27.gif" class="card-img-top" alt="skin27" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card28" >
            <img src="./images/sample/28.gif" class="card-img-top" alt="skin28" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card29" >
            <img src="./images/sample/29.gif" class="card-img-top" alt="skin29" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card30">
            <img src="./images/sample/30.gif" class="card-img-top" alt="skin30" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card31" >
            <img src="./images/sample/31.gif" class="card-img-top" alt="skin31" onclick="handleImageClick(this)">
        </div>

        <div class="col-md-4 mb-4" id="card32" >
            <img src="./images/sample/32.gif" class="card-img-top" alt="skin32" onclick="handleImageClick(this)">
        </div>

        <!-- main.js에서 리스트 자동으로 추가 -->
        <!-- Additional gallery items go here -->
    </div>

    <div class="container my-4">
        <div class="row gallery" id="user_gallery">
            <!-- Images will be loaded here by JavaScript -->
        </div>
    </div>
</div>



</body>
</html>