<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>profrog's portpolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href ="/css/main.css" rel = "stylesheet">
    <script src ="/js/pgntogif.js"></script>
</head>
<body>
<!-- header -->
<nav class="px-5 navbar navbar-expand navbar-dark bg-dark position-fixed w-100">
    <a class="navbar-brand" href="/">chessx2</a>
    <ul class="navbar-nav ms-auto" style = "margin-left: auto;">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Main</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/ptg">pgntogif</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
        </li>

    </ul>
</nav>

<section id = "main-part" class ="pt-5 pt-5">
    <div class="dropdown my-3 mx-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select an skin
            <div class="form-group">
                <label for="skinselect">choose skin</label>
                <select class="form-control" id="skinselect">
                    <option value="skin1">skin1</option>
                    <option value="skin2">skin2</option>
                </select>
            </div>
    </div>

    <button class="btn btn-primary mx-3" onclick="getDropdownValue()">Get Skin Data</button>

    <div class="container my-5">
        <h2>Skin Data</h2>
        <div class="row gallery" id="image_gallery">
            <!-- Images will be loaded here by JavaScript -->
        </div>
    </div>

    <div class="container form-group my-5">
        <label for="pgndata">
            <h2>paste pgn data to here</h2>
        </label>
        <textarea class="form-control form-control-lg custom-border-dashed" id="pgndata" rows="3" placeholder="pgn 데이터 붙여넣기"></textarea>
        <script>const textarea = document.getElementById('pgndata');
          textarea.addEventListener('input', function() {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
          });
        </script>

        <label>which is your side</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sideRadios" id="white" value="white" checked>
            <label class="form-check-label" for="white">white</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sideRadios" id="black" value="black">
            <label class="form-check-label" for="black">black</label>
        </div>

        <label>speed</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Speeds" id="1" value="1000" checked>
            <label class="form-check-label" for="1">x1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Speeds" id="0.5" value="2000">
            <label class="form-check-label" for="0.5">x0.5</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Speeds" id="2" value="500">
            <label class="form-check-label" for="2">x2</label>
        </div>

        <button class="btn btn-primary mx-3" onclick="makeGIF()">Make GIF</button>
    </div>

    <div class="container my-5">
        <h2>Gif Data</h2>
        <div class="row gallery" id="gif_gallery">
            <!-- Images will be loaded here by JavaScript -->
        </div>
    </div>
</section>

</body>
</html>